/*
 * All below is from https://dev.to/f53/custom-css-for-discord-1b4h
 */

/* Hide Nitro Tab in Friends Menu */
.channel-1Shao0.container-32HW5s[aria-posinset="2"] {
    display: none;
}

/* End blag code */

/* Slidy Members ( I rewrote this completely ) */

.container-2vWgD2 {
    min-width: 0 !important;
    width: 64px;
    transition: 250ms ease all;
}

.container-2vWgD2:hover {
  width: 245px !important;
}
	
/*
 * Had to enable ctrl+shift+i to inspect the discord code
 * Ducko showed me how:
 * add "DANGEROUS_ENABLE_DEVTOOLS_ONLY_ENABLE_IF_YOU_KNOW_WHAT_YOURE_DOING": true 
 * to the json of %appdata%/discord/settings.json (windows stable)
 *
 * Another Reddit post showed I have to right-click close discord after this change
 * then relaunch from scratch for changes to this file to take effect
 */

 /*
  * Adapted code from: https://gist.githubusercontent.com/emmahyde/9585adaeeaea00cf7510145b54702a2b/raw/4d80954f9b90add4a307b8427add065d4ef27c60/discord_collapse_sidebar.css
  * And: (shit I lost the other link)
  */

/* Minimize channel/voice sidebar until mouse hover */
.sidebar-1tnWFu {
  width:10px;
  transition: 0.3s;
}

.sidebar-1tnWFu:hover {
  width: 240px;
}
